.topBottomImage{
    margin-top: 0.8%;
    width: 100%;
    height: 350px;
    margin-left: 5%;
}

#BottomImage
{
    margin-top: 0.8%;
    width: 100%;
    height: 350px;
    margin-left: 5%;  
}

#backToMainButton{
    width: 70%;
    height:60px;
    margin-left: 15%;
    margin-top:5px;
}

.chooseDrinkPizzaButtons{
    width: 200;
    height:50px;
    margin-left: 5%;
    margin-top: 2%;
}

#tableDrinkPizaaSize{
    width: 100%;
    margin-left: 5%;
}

#promoPic{
    width: auto;
    margin-bottom: 5%;
    background-color: transparent;
}
#promoButtonImage
{
    background-color: white;
}
#tableButtonsSize{
    width: 17%;
}

#orderButton{
    width: 70%;
    height:60px;
    margin-left: 5%;
    margin-bottom:1%;
}

#startDivider{
    top: 11.2vh;
    margin: auto;
    width: 70%; 
    position: sticky;
}

#startDividerPromotions{
    top: 11.2vh;
    margin: 10% auto auto auto;
    width: 100%; 
    position: sticky;   
}


#cartImage{
    margin-top: 2%;
}

#orderButtonCart
{
    width: 100%;
    height:50px;
    background-color: #dc3545;
    color: white;
    margin-top: 2%;
}

#totalpricetext
{
    margin-left: 20%;
    font-weight: bold;
}

#rowPosition{
width: 16%;
}

#cartButton{
    background-color: #dc3545;
    color: white;
}

#addToCardDrinksButtons
{
    background-color: #dc3545;
    color: white;
}

#addToCardPizzaButtons{
    background-color: #dc3545;
    color: white;
}

#minPicture{
height: 50px;
}

.ui.input>input:focus
{
 border-color: #dc3545 !important;
}   

.ui.inverted.segment, .ui.primary.inverted.segment{
    background: #dc3545 !important;
}

.textBoxPromotion{
    width: 100%;
}
