#searchNameButton{
    width: 300px;
    margin-bottom: 2%;
    margin-left:6%;
}


#searchHeader{
    /* margin-left:20.5%; */
    margin-left:38%;
    margin-bottom: 1%;
}


.groupDesign{
    margin-left:30%;
}

#detailsButtons{
    background-color: #dc3545;
    color: white;
}

#modalOrderSize{
   
    height: 90%;
    width: 70%;
    margin-left:15%;
    margin-top:1%;
}

#exitButton{
    background-color: black;
    color: white;
    width: 200px;
    margin-left: 85%;
    margin-top: -7%;
    vertical-align: 150%;
}

#modalHeader{
    background:#dc3545 ;
    font-weight: bold;
    
}

.detailsInformation{
    background:#dc3545 ;
    color: white;
    font-size: 20px;
    font-weight: 600;

}

#modalContent{
    height: 100%;
    background:#dc3545 ;

}

#deliveryMessageOrder{
    background:#dc3545 ;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
