#searchNameButton{
    width: 300px;
    margin-bottom: 2%;
    margin-left:6%;
}


#searchHeader{
    /* margin-left:20.5%; */
    margin-left:38%;
    margin-bottom: 1%;
}


.groupDesign{
    margin-left:30%;
}

/* .ui.inverted.segment{
    margin-left:30%;
    margin-right:30%;
} */
